<!DOCTYPE html>
<html lang="en">
<head>

<style>   
    body {
        background: url('https://xavierstg.blob.core.windows.net/xavier-flask-app/halloween background.webp')
    }
</style>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Flask App</title>
    <!-- Include Tailwind CSS from CDN -->
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
    <div class="flex justify-center items-center h-screen">
    <div class="max-w-screen-md mx-auto p-4 shadow-md">
    <h1 class="text-5xl mb-4 text-center text-amber-600 text-center shadow-black">Cloud CDN Hosted Video</h1>
    <video src="https://xavier-cdn.azureedge.net/xavier-flask-app/The%20Macklin's%204th%20Annual%20Halloween%20Party%20v2.mp4" alt="Video" controls height='100%' width='100%'></video>
</body>

</html>